* {
    margin: 0;
    padding: 0;
    }
    .flex { 
        display: flex;
        width: 100%; 
    }
    #clg
    {
        color: gold;
        box-shadow: 2in;
    }
    .wrapper {
    width: 100%;
    }
    button{
    font-weight: bold;
    color: white;
    }
    h2
    {
        color: greenyellow;
    }
    #lg{
        color: aliceblue;
 font-weight: 100;   
        font-size: medium;
    }
    #b1
    {
        color: aquamarine;
    }
    body{
    background-image: linear-gradient(60deg,purple,red);
    background-size: cover;
    background-repeat: no-repeat;
    }
    #log{
        float: left;
    }
    form.reg{
    color: white;
    }
    .info h1{
    padding: 30px 30px 30px 30px;
    font-family: Times New Roman;
    font-size: 40px;
    line-height: 44px;
    }
    .info form{
    padding: 0px 30px 20px;
    font-family: arial;
    font-size: 16px;
    line-height: 24px;
    }
    @media only screen and (min-width: 768px){
    .wrapper {
    width: 600px;
    margin: 0 auto;
    }
    .info h1{
    padding: 20px 0px 0px;
    }
    .info form{
    padding: 20px 0px 0px 150px;
    }
    }
marquee
    {
        color: yellow;
        font-size: large;
        }
